<!DOCTYPE html>
<html lang="en">
    <%- include("template/head") %>
<body>
    <%- include("template/dataBox") %>
    <%- include("template/mocksProducts") %>
    <%- include("template/chatForm") %>
    <%- include("template/normalizrBox") %>
    <%- include("template/chatBox") %>
    <%- include("template/scriptCall") %>
</body>
</html>