<!DOCTYPE html>
<html lang="en">
    <%- include("template/head") %>
<body>
    <%- include("template/signup") %>
    <%- include("template/mocksProducts") %>
    <%- include("template/chatForm") %>
    <%- include("template/normalizrBox") %>
    <%- include("template/chatBox") %>
    <!--

        <script src="/js/fetchSignup.js"></script>
    -->
    <%- include("template/scriptCall") %>
</body>
</html>