<!DOCTYPE html>
<html lang="en">
    <%- include("template/head") %>
<body>
    <%- include("template/login") %>
    <%- include("template/mocksProducts") %>
    <%- include("template/chatForm") %>
    <%- include("template/normalizrBox") %>
    <%- include("template/chatBox") %>
    <%- include("template/scriptCall") %>
   <!--
       <script src="/js/fetchLog.js"></script>
   --> 
</body>
</html>
