<div class="container" id="cart">
    <div class="container__frame">
        <table>
            <caption class="container__title">
                ORDENES DE COMPRA
            </caption>
            <tbody>
                <tr class="container__tableRow">
                    <th class="container__tableHead">Correo de Usuario</th>
                    <th class="container__tableHead">Dirección de Entrega</th>
                    <th class="container__tableHead">Orden de Compra</th>
                    <th class="container__tableHead">Estado</th>
                    <th class="container__tableHead">Acciones</th>
                </tr>
                <% data.forEach((orders)=>{ %>
                    <tr class="container__tableRow">
                        <td class="container__tableData" data-label="Email de Usuario">
                            <%= orders.email %>
                        </td>
                        <td class="container__tableData" data-label="Dirección de Entrega">
                            <%= orders.address %>
                        </td>
                        <td class="container__tableData" data-label="Número de Orden">
                            <%= orders.orderNumber %>
                        </td>
                        <td class="container__tableData" data-label="Estado de la Orden">
                            <%= orders.state %>
                        </td>
                        <td class="container__tableData" data-label="Acciones">
                            <button class="container__tableBtnUpdate updateOrder" id="<%= orders.id %>">ACTUALIZAR</button>
                            <button class="container__tableBtnDelete eraseOrder" id="<%= orders.id %>">BORRAR</button>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</div>