<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../css/styles.css" />
        <title>HardwareBulls</title>
    </head>

    <body>
        <%- include("template/headerProducts") %>
        <div class="viewDetail">
            <div class="viewDetail__img">
                <img class="viewDetail__thumbnail" id="thumbnailProduct" alt="imagen de producto" src="../../media/products/<%-product.thumbnail%>">
            </div>
            <div class="viewDetail__frame">
                <div class="viewDetail__boxBtn">
                    <button class="viewDetail__btn viewDeatil__btn--back">
                        <a href="/api/products">volver</a>
                    </button>
                </div>
                <div class="viewDetail__title">
                    <h3 id="titleProduct"><%-product.title-%></h3>
                </div>
                <div class="viewDetail__description">
                    <p>
                        <%-product.text-%>
                    </p>
                </div>
                <div class="viewDetail__price">
                    <p>$
                        <span id="priceProduct">
                            <%-product.price-%>
                        </span>
                    </p>
                </div>
                <div>
                    <label for="amoun" class="container__label">Cantidad</label>
                    <input class="viewDetail__input" type="number" name="amount" id="amount" min="1" value="1">
                    <button type="submit" class="viewDetail__btn add" id=<%-product.id-%>>
                        Agregar
                    </button>
                </div>

            </div>
        </div>
        <script src="/js/main.js"></script>
        <script src="/js/detailsViews.js"></script>
    </body>

</html>

