<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="container__frame">
          <h2 class="container__title">MODIFICA PRODUCTO PRODUCTO ID: <%= product.id %></h2>
          <form class="container__form" method="POST" action=<%= `${url}` %>>
      
           
       

            <input type="number" name="timesStampProd" hidden value=<%= `${product.timesStamp}`%>>
            <label for="nameProd" class="container__label">Nombre</label>
            <input class="container__input" name="nameProd" type="text" value=<%= `${product.nombre}`%> />
    
            <label for="descriptionProd" class="container__label">Descripción</label>
            <textarea class="container__input" name="descriptionProd" rows="10" placeholder="Descripción del Producto"
              required><%= `${product.descripcion}`%></textarea>
    
            <label for="codeProd" class="container__label">Código de Producto</label>
            <input class="container__input" name="codeProd" type="text" value=<%= `${product.codigo}`%> />
            
            <label for="stockProd" class="container__label">Stock</label>
            <input class="container__input container__input-Numbers" name="stockProd" type="number" value=<%= `${product.stock}`%> />
    
            <label for="priceProd" class="container__label">Precio</label>
            <input class="container__input container__input-Numbers" name="priceProd" type="number" value=<%= `${product.precio}`%> />
    
            <label for="imgProd" class="container__label">Foto de Producto</label>
            <input class="container__input" name="imgProd" type="text"
            value=<%= `${product.foto}`%> />
            <input class="container__btn" href="" type="submit" value="Modificar" />
          </form>
        </div>
      </div>

</body>
</html>