<!DOCTYPE html>
<html lang="en">
<%- include("template/head") %>

    <body>
        <div class="hero">
        </div>
        <div class="wrap">
            <% products.map(product => {%>
                <div class="cardProduct">
                <div class="cardProduct__img">
                    <img alt="imagen de producto" src=<%- `${product.thumbnail}`-%>>
                </div>
                <div class="cardProduct__frame">
                    <div class="cardProduct__title">
                        <h3><%-product.title-%></h3>
                    </div>
                    <div class="cardProduct__price">
                        <p>$ <%-product.price-%></p>
                    </div>
                    <div>
                        <button class="cardProduct__btn" id=<%-product.id-%>>
                            Ver
                        </button>
                    </div>
                </div>
            </div>
            <% });%>
        </div>
            <script src="/js/mainProducts.js"></script>
    </body>

</html>